VITE_API_BASE_URL=http://localhost:3000
VITE_QUERY_STALE_TIME_MS=600000
VITE_QUERY_CACHE_TIME_MS=1800000
VITE_TOURNOI_VILLE=
VITE_TOURNOI_LIEU=
VITE_TOURNOI_CLUB_NOM=
VITE_TOURNOI_FRAIS_CAUTION=
VITE_TOURNOI_FORMAT_MATCH=
