@import "tailwindcss";

body {
  background-color: #020617; /* slate-950 */
  color: #f1f5f9; /* slate-100 */
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
